@model List<Borrowing>

<section id="gecmis" class="mb-5">
    <h3>💾 Yer İşaretleri</h3>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Dergi Adı</th>
                <th>Okunma Tarihi</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrow in Model)
            {
                <tr>
                    <td>@borrow.MagazineInfo.TopicName</td>
                    <td>@borrow.BorrowingDate</td>
                    <td><a href="#" class="btn btn-sm btn-primary"> Dergi Detay</a></td>
                </tr>
            }

        </tbody>
    </table>
</section>