@model List<Borrowing>

<section id="gecmis" class="mb-5">
    <h3>📚 Okuma Geçmişi</h3>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Dergi Adı</th>
                <th>Okunma Tarihi</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>Psikoloji Dergisi - Ocak 2025</td>
                    <td>12.01.2025</td>
                    @if(@item.ısReturned==true)
                    {
                        <td><a asp-controller="Dergiler" asp-action="Borrow" asp-route-MagazineInfoId="@item.MagazineInfoId" class="btn btn-sm btn-primary">Tekrar Oku</a></td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="Profile" asp-action="MagazineReturn" asp-route-MagazineInfoId="@item.MagazineInfoId" class="btn btn-sm btn-primary">
                                Kitabı İade Et
                            </a>
                        </td>

                    }
                    
        </tr>
        }
         
    </tbody>
</table>
 </section>