
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section id="profil" class="mb-5">
    <h3>👤 Profil Bilgileri</h3>
    <form>
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Ad Soyad</label>
                <input type="text" class="form-control" value="Mehmet Yılmaz">
            </div>
            <div class="col-md-6">
                <label class="form-label">E-posta</label>
                <input type="email" class="form-control" value="mehmet@example.com">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Profil Fotoğrafı</label>
            <input type="file" class="form-control">
        </div>
        <button class="btn btn-primary">Güncelle</button>
    </form>
</section>